/* CSS 작성 */
h1 > a > img {
  width: 176px;
}

.title {
  display: flex;
  align-items: center;
}
h2 {
  font-size: 24px;
}
h4 {
  font-size: 16px;
}
h4,
span {
  margin: 0 5px;
  color: var(--color-gray-600);
}

button {
  display: block;
  width: 40px;
  height: 40px;
  position: relative;
  left: 20px;
  bottom: 60px;
}
a > span {
  display: block;
  width: 42px;
  height: 42px;
  position: relative;
  text-align: center;
  background-color: var(--main-black-opacity-color);
  transition-property: background-color;
  transition-duration: 0.5s;
  left: 18px;
  bottom: 62px;
}
.mark::after {
  content: "";
  position: absolute;
  bottom: 21px;
  left: 21px;
  width: 5px;
  height: 5px;
  border: 1px solid var(--color-gray-100);
  border-width: 0 1px 1px 0;
  transform: rotate(-45deg) translateX(-50%) translateX(-50%);
}
section {
  float: left;
}
article > a > div > img {
  display: block;
  margin: 20px auto;
}
.product:first-child {
  margin-left: 0px;
}
.product:last-child {
  margin-right: 0px;
}
article {
  float: left;
  width: 502px;
  height: 310px;
  margin: 8px;
}

.small {
  width: 243px;
  height: 310px;
}
.small > a > div > img {
  display: block;
  margin: 14px auto;
}
.pick:hover {
  border: 1px solid var(--color-blue-600);
}

a:hover > .mark::before {
  content: "구매하기";
  color: white;
  position: absolute;
  font-size: 14px;
  bottom: 12px;
  left: 20px;
}
a:focus > .mark::before {
  content: "구매하기";
  color: white;
  position: absolute;
  font-size: 14px;
  bottom: 12px;
  left: 20px;
}

a:hover > .mark::after {
  position: absolute;
  bottom: 18px;
  left: 88px;
  transform: rotate(-45deg) translateX(0%) translateX(0%);
}
a:focus > .mark::after {
  position: absolute;
  bottom: 18px;
  left: 88px;
  transform: rotate(-45deg) translateX(0%) translateX(0%);
}
a:hover > .mark {
  width: 112px;
  text-align: left;
  background-color: var(--color-blue-600);
}
a:focus > .mark {
  width: 112px;
  text-align: left;
  background-color: var(--color-blue-600);
}
.pick {
  width: 502px;
  height: 310px;
  border: 1px solid var(--color-gray-500);
}
.small > a > div {
  width: 243px;
  height: 310px;
}
a:focus > .pick {
  border: 1px solid var(--color-blue-600);
}
article > a:focus {
  outline: 0;
}
